@@include('header.html')

<!-- START copy -->
<link rel="stylesheet" href="css/wishlist.min.css?$staticlink$">

<meta property="og:image" content="http://demandware.edgesuite.net/aasf_prd/on/demandware.static/-/Library-Sites-T2SharedLibrary/default/dwef58af7c/images/wishlist/wishlist-banner-facebook.jpg" />

<main class="wishlist">
    
    <h1>Wishlist</h1>

    <div class="banner hide-desktop">
        <p>Wish upon a tea - Choose five of your fave tea goodies below, tell us why they’re your ultimate gift and we’ll select one lucky winner to take away the lot each week.</p>
        <img src="images/wishlist/wishlist-banner-mobile.jpg?$staticlink$">
    </div>
    <div class="banner hide-mobile" style="background-image:url('images/wishlist/wishlist-banner.jpg?$staticlink$');">
        <div class="banner-content">
            <h2>Wish upon a tea</h2>
            <p>Choose five of your fave tea goodies below, tell us why they’re your ultimate gift and we’ll select one lucky winner to take away the lot each week.</p>
        </div>
    </div>

    <section class="placeholder">        
    
        <p>T2 Wishlist competition coming 7th November.</p>
        <a href="$url('Account-Show')$" class="btn">Tea Society member? Join now</a>

    </section>

</main>
<!-- END copy -->

@@include('footer.html')