/********** VARIABLES **********/

// RESPONSIVE
$break-mobile: 739px;
$break-tablet: 1099px;
$break-desktop: 1140px;

// SELECTIONS
$selection-bg: #000;
$selection-color: #fff;

// FONTS
$font-medi: 'HelveticaNeueW01-65Medi', Arial, sans-serif;
$font-bold: 'HelveticaNeueW01-75Bold', Arial, sans-serif;

// COLORS
$color-orange: #f58320;
$color-black: #000;
